// BOOTSTRAP conversions
// EUX : eux/_variables.scss
// $font-size-base (bootstrap)
// $line-height-computed (bootstrap)

$max-width: $screen-lg;
$spacer : 44px;

// typographic hlpers

	// quick & dirty px's to em's
	@function em($target, $context: $font-size-base) {
	   @if $target == 0 { @return 0px }
	   @return $target / $context + 0em;
	}
	
	@mixin rhythm ($top:0, $right: 0, $left: 0, $bottom:0) {
		margin: em($top * $line-height-computed) em($right) em(($bottom * $line-height-computed)) em($left);
	}

// ui consistency
	%ui-basic {
		font-size: em(16px);
		line-height:  em(34px);
		text-transform: uppercase !important;	
		font-weight: 700;
	}


// blocks
	%full-coverage {
		background-position: 50% 50%;
		background-size: cover;	
		position: absolute;
		z-index: 0;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}
	@mixin fluid-aspect($ratio: 1 1, $selector: "> :first-child") {
		$selector: unquote($selector);
	
		padding-bottom: percentage(nth($ratio, 2) / nth($ratio, 1));
		position: relative;
	
		#{$selector} {
			left: 0;
			height: 100%;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
	@mixin panel($ratio:1, $width:100%) {
		position: relative;
		background-position: 50% 50%;
		background-size: cover;		
		//overflow: hidden;
		text-align: center;
		//@include intrinsic-ratio($ratio, $width);
		.wrapper {
			// centering in the unknown (css-tricks.com)
			position:absolute;
			z-index: 1;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			&:before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
			div:first-child {
				display: inline-block;
				vertical-align: middle;
				width: 80%;
			}
		}
	}
	@mixin vert-centre($height) {
		position: relative;
		.wrapper {
			display: table;
			height: $height;
			width: 100%;
			text-align: center;
			> div {
				display: table-cell;
				vertical-align: middle;
			}
		}
	}

// video

	video {
		max-width: 100%;
		height: auto;
	}
	
	.flex-video {
		position: relative;
		//padding-top: 25px;
		padding-bottom: 67.5%;
		height: 0;
		margin-bottom: $spacer;
		overflow: hidden;
	}
	.flex-video.widescreen { padding-bottom: 56.25%; }
	.flex-video.vimeo { padding-top: 0; }
	.flex-video iframe,
	.flex-video object,
	.flex-video embed {
		position: absolute;
		top: 0px;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	video.full {
		position: absolute;
		right: 0;
		bottom: 0;
		top:0;
		right:0;
		width: 100%;
		height: 100%;
		background-size: 100% 100%;
		background-color: black; /* in case the video doesn't fit the whole page*/
		background-position: center center;
		background-size: contain;
		object-fit: cover; /*cover video background */
		z-index:0;
	}
	
// some other random resets/defaults/overrides/favorites

	a {
		&:focus, &:target {
			outline: none;	
		}	
	}
	.disable-hover {
		pointer-events: none;
	}
	.iOS_tweaks {
		height: 100vh;
		overflow: scroll;
		-webkit-overflow-scrolling: auto;
	}


.wpcf7-validation-errors{
	clear:both;
}
.wpcf7-response-output{
	clear:both;
}